.title {
    input {
        font-size: 2rem;
        font-weight: 700;
    }

    div {

        &:before,
        &:after {
            display: none;
        }
    }
}

.image {
    width: 100%;
}

.editor {
    margin: 30px -30px;

    :global {
        .cm-s-easymde {
            border: 0;
            font-size: 22px;
        }

        .editor-toolbar {
            border: 0;
            background-color: #eceaea;
        }
    }
}

.buttons {
    display: flex;

    button {
        margin-right: 15px;
    }
}